/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [id]
      ,[price]
      ,[itemname]
      ,[description]
      ,[stockno]
      ,[remarks]
      ,[sid]
  FROM [ECommerceDB].[dbo].[Items]
  insert into Items values(100,'1200','Frock','clothes',123,'gud',2);
   insert into Items values(90,'1500','Shirts','Mens',19,'gud',7);
   insert into Items values(67,'1500','Toys','Kids',99,'gud',37);

